/dev/null                 0666   root       root
/dev/zero                 0666   root       root
/dev/full                 0666   root       root
/dev/ptmx                 0666   root       root
/dev/random               0666   root       root
/dev/urandom              0666   root       root
/dev/ashmem               0666   root       root
/dev/binder               0666   root       root
/dev/log/*                0662   root       log
/dev/bus/usb/*            0660   root       usb
/dev/usb_accessory        0660   root       usb
/dev/mtp_usb              0660   root       mtp
/dev/snd/dsp              0660   system     audio
/dev/snd/dsp1             0660   system     audio
/dev/snd/mixer            0660   system     audio
/dev/snd/*                0660   system     audio
/dev/input/*              0660   root       input
/dev/tty*                 0666   root       system
/dev/android_adb          0660   adb        adb
/dev/ppp                  0660   radio      vpn
/dev/disp                 0777   system     system 
/dev/g2d             	  0777   system     system 
/dev/cedar_dev            0666   system     system 
/dev/ace_dev              0666   system     system 
/dev/ump		  0777   system	    graphics
/dev/mali		  0777   system	    graphics
/dev/ump		  0777   system     graphics
/dev/graphics/*           0660   root       graphics
/dev/video0		  0777   system	    system
/dev/video1		  0777   system	    system
/dev/snd/pcmC0D0c 	  0777   system     system
/dev/snd/pcmC0D0p	  0777   system     system
/dev/block/nandf	  0660	 system	    system

# sysfs properties, for mma7660 gsensor
/sys/devices/virtual/input/input*   name        0660  root   input
/sys/devices/virtual/input/input*   max         0660  root   input
/sys/devices/virtual/input/input*   min         0660  root   input
/sys/devices/virtual/input/input*   poll        0666  root   input

